@model Training.Mvc.OnlineStore.UI.Areas.AdminPanel.ViewModels.AddOrEditCategoryViewModel

@{
    ViewBag.Title = "Add new category";
    Layout = "/Areas/AdminPanel/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("Add", "Category", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>Add a new product</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>
