@model ProductViewModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-4">
        <h2>@Model.Name</h2>
        <h2>£@Model.Price</h2>
    </div>
    <div class="col-lg-8">
        <div class="featurette" id="about">
            <img class="featurette-image img-circle img-responsive pull-right" src="@Model.DetailsImageUrl">
            <h2 class="featurette-heading">
                <span class="text-muted">@Model.Summary</span>
            </h2>
            <p class="lead">
                @Model.Description
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            @Html.Partial("_Rates", Model.Rates)
        </div>
        <div class="col-md-6">

            @using (Html.BeginForm("AddToCart", "ShoppingCart", null, FormMethod.Get))
            {
                <input type="hidden" name="productId" value="@Model.Id" />
                <input name="quantity" type="number" value="1" />
                <button type="submit" class="btn btn-info">
                    <i class="fa fa-shopping-cart"></i>
                    Add to cart
                </button>
            }
        </div>
    </div>
</div>
